body {
    font-family: "lato", sans-serif;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

h2 small {
    font-size: 0.5em;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 20%;
    align-self: center;
    text-align: center;
}

.responsive-table .col-3 {
    flex-basis: 50%;
    align-self: center;

}

.responsive-table .col-4 {
    flex-basis: 10%;
    align-self: center;
    text-align: center;
}

.responsive-table .col-5 {
    flex-basis: 10%;
    align-self: center;
    text-align: center;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .col {
        flex-basis: 100%;
    }

    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

IMG.displayed {
    position: relative;
    top: 10%;
    left: 10%;
}

.zoom {
    /* background-color: green; */
    transition: transform .2s;
    width: 100px;
    height: 100px;
}

.zoom:hover {
    transform: scale(2.5);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.col-3 .introdiv {
    display: none;
    font-size: 12px;
    position: relative;
}

.linkdiv:hover {
    font-size: 150%;
}

.responsive-table .col-3:hover .introdiv {
    display: block;
}

.linkdiv {

}

.updatelink {
    text-align: center;
}

.updatelink:hover {

}

.updatelink .updatelinktext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: -65px;
    margin-top: -25px;
    opacity: 0;
    transition: opacity 0.3s;
}

.updatelink:hover .updatelinktext {
    visibility: visible;
    opacity: 1;
}

.newupdatediv {
    text-align: center;
}

.newupdatediv:hover .newupdatedivtext {
    visibility: visible;
    opacity: 1;
}
